In [74]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [75]:
df=pd.read_csv("/content/sample_data/diabetes.csv")
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [76]:
from sklearn.preprocessing import StandardScaler

In [77]:
sc=StandardScaler()

In [78]:
sc.fit(df.drop('Outcome',axis=1))

StandardScaler()

In [79]:
sc.transform(df.drop('Outcome',axis=1))

In [126]:
x=sc.fit(df.drop('Outcome',axis=1))
y=df['Outcome']

In [81]:
from sklearn.model_selection import train_test_split

In [123]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=10)

In [146]:
from sklearn.naive_bayes import GaussianNB
gc=GaussianNB()

In [181]:
from sklearn.metrics import confusion_matrix,classification_report,accuracy_score

In [ ]:
#scores=[]

In [160]:
gc.fit(x_train,y_train)

GaussianNB()

In [161]:
y_pred=gc.predict(x_test)

In [168]:
#scores.append=accuracy_score(y_test,y_pred)

AttributeError: ignored

In [152]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.76      0.80      0.78       101
           1       0.58      0.53      0.55        53

    accuracy                           0.71       154
   macro avg       0.67      0.67      0.67       154
weighted avg       0.70      0.71      0.70       154

In [167]:
print(confusion_matrix(y_test,y_pred))

[[82 19]
 [27 26]]